target/
*.class
*.log
*.jar
*.war
*.ear
.project
.classpath
.settings/
.idea/
*.iml
*.iws
.vscode/
.DS_Store
sync_debug.txt
sync_status.txt
sync_stderr.log
sync_stdout.log
app_crash.log
null
=
bhspl_config.properties
jdk17.0.18_9/
.mvn/
